//home-img
.content {
  min-height: calc(100vh - 352px);
}
.bg-cover {
  background-size: cover;
  background-position: 50%;
}

.header {
  display: flex;
  height: 550px;
  .header-button {
    text-align: center;
    margin-bottom: 3rem;
  }
  @media screen and (min-width: 576px) {
    .header-button1 {
      padding-right: 10rem;
    }
    .header-button2 {
      padding-left: 10rem;
    }
    .header-button3 {
      margin-bottom: 3rem;
    }
  }
}

.feature-heading {
  margin-bottom: 3rem;
  font-weight: 700;
}

.feature-text {
  font-size: 1.25rem;
  line-height: 28px;
  @media screen and (max-width: 576px) {
    font-size: 16px;
  }
}
