.checkStep {
  background-color: $gray-600;
  border-radius: 50%;
  color: #fff;
  height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 120px;
}
.checkStepActive{
  background-color: $primary;
}